.sd-root-modern.sd-root-modern--full-container {
    height: auto;
}

/* This bit of css centers rating questions */

.sd-rating {
    width: max-content;
    overflow: visible;
    max-width: 100%;
    margin: 0 auto;
}

/*error message background colour*/
.sd-error {
    background-color: #f9f9f9;
}

.sd-rating__item-smiley--readonly.sd-rating__item-smiley--selected {
    border-color: white !important;
    background: white !important;
}

/* Rating Smiley padding and min and max width */
.sd-rating__item-smiley {
    min-width: calc(0 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    min-height: calc(0 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    padding: calc(0.25 * (var(--sjs-base-unit, var(--base-unit, 8px))));
    --sjs-base-unit: 14px;
}

@media (max-width: 400px) {
    .sd-rating__item-smiley {
        min-width: calc(0 * (var(--sjs-base-unit, var(--base-unit, 6px))));
        min-height: calc(0 * (var(--sjs-base-unit, var(--base-unit, 6px))));
        padding: calc(0.15 * (var(--sjs-base-unit, var(--base-unit, 6px))));
        --sjs-base-unit: 12px; /* Smaller base unit for smaller screens */
    }
}

/*Rating smiley min max rating text colour*/
.sd-rating__item-text.sd-rating__item-text.sd-rating__min-text,
.sd-rating__item-text.sd-rating__item-text.sd-rating__max-text {
    color: #f9f9f9;
}

/*Question input text colour*/
.sd-input {
    color: #ff0070;
}

.sd-rating.sd-rating--labels-bottom fieldset {
    justify-content: center;
}