/* .ag-root-wrapper-body {
  position: static !important;
  z-index: 0 !important;
}

.ag-root-wrapper {
  position: static !important;
  z-index: 0 !important;
}

.ag-theme-alpine {
  position: static !important;
  z-index: 0 !important;
}

.ag-body-viewport {
  position: static !important;
  z-index: 0 !important;
}

.ag-header-viewport {
  position: static !important;
  z-index: 0 !important;
}

.ag-pinned-left-cols-viewport {
  position: static !important;
  z-index: 0 !important;
}

.ag-pinned-right-cols-viewport {
  position: static !important;
  z-index: 0 !important;
} */
